@import "tailwindcss";

@keyframes floatUp {
  0% {
    transform: translateY(10px) scale(0.8);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(-20px) scale(1);
    opacity: 0;
  }
}

.animate-float {
  animation: floatUp 1.5s infinite linear;
}